# Node modules
node_modules/

# Logs
*.log
logs/

# Dependency directories
jspm_packages/

# Environment variables
.env

# Build output
dist/
build/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# All files in backend/uploads
backend/uploads/*